<div class="container">
	<div class="row">
		<img src="{{site.baseurl}}/assets/img/portrait2.jpg" style="width:50%;height:100%;display:block;margin:15px">
	</div>	
	<div style="text-align:left;width:80%">
		<p>Hi! My name is Ethan Teo. I'm a sophomore at UC Berkeley studying Computer and Cognitive Science.</p>
	</div>
	<div class="row">
		<div class="vertical-menu">
		  <a href="/">Home</a>
		  <!-- <a href="/about" style="display:block;padding:12px;">About</a> -->
		  <a href="/blog">Blog</a>
		</div>
	</div>
</div>