h1, h2, h3 {
	font-family:'Montserrat', sans-serif;
}

h1 {
	font-weight:bold;
	font-size:3.0vw;
}

h4 {
	font-size: 2.0vw;
}

h4, ol, ul, li, p, a {
	font-family: 'Lato', sans-serif;
}

a {
	color: #6249ff;
}

.vertical-menu {
	text-align:left;
	width:100%;
	margin:3px;
}

.vertical-menu a {
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

p {
	font-size: 1.1rem;
}

@media (max-width: 980px) {
    h1, h4 {
    	font-size: 1.8em;
    }

    p {
        font-size: 1.2em;
    }
}